*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 150%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #001f3f;
}

button{
    background-color: hsl(135, 87%, 31%);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    color: white;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    font-size: 3rem;
    font-family:  sans-serif;
}

button:hover{
    background-color: hsl(122, 78%, 27%);
}

button:focus{
    
    animation: flip 2s linear,color 4s linear;
    animation-iteration-count: 2,1;

}

@keyframes flip {
    from{
        transform: rotateX(0deg);
    }

    to{
        transform: rotateX(360deg);
    }
}


@keyframes color{
    from{
        background-color: rgb(230, 110, 18);
    }

    to{
        background-color: green;
    }
}