*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    height: 100vh;
}



body {
    background-color: black;
    height: 100vh;
}



/* Header */

.header {
    width: 100%;
    
    display:flex;
    flex-direction: row;

    
}

.navbar {
    width: 100%;
    
    display:flex;
    justify-content:space-around;
}


div.nav {
    display:flex;
   
}

div.nav ul {
    display:flex;
    list-style-type: none;
    
}


div.nav ul li  {
    display:flex;
    align-items: center;
    margin: 0 20px;
    font-size:1.4rem;
    
}

div.nav ul li .special {

    color: white;
    font-weight: bold;
}



.logo {
    display:flex;
    align-items: center;
    color: white;
    margin: 0 20px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.mark {
    font-size:2rem;
}

div.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




div.nav ul li a:hover {
    color: rgb(39, 190, 220);
}


/* End Header */


/* Mid */


div.middle {
    height: 86%;
    min-width: 100%;
    background-image: url(car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    display:flex;

}


div.offer {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin:50px;

    
}

div.block {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items:flex-start;
    margin-left:100px
}



div.content_1 {
    color:aqua;
    font-size: 3rem;
    font-weight: bold;
}


div.content_2 {
    color:rgb(219, 227, 227);
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px
    
}



/* End Mid */



/* Footer */
.footer {
    
    height:70px;
    color: white;
}

.footer-container{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.topic{
    display:flex;
    flex-direction:column;
}

.top {
    font-size: 1.3rem;
    color:rgb(18, 216, 234);
    font-weight: bold;

}

/* End Footer */


div.nav button ,div.block button {
    margin:30px;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    color:white;
    background-color: rgb(10, 168, 220);
    border: none;
    border-radius: 0.3em;
}


div.nav button:hover ,div.block button:hover{
    transform: scale(1.1);
    background-color: rgb(9, 109, 231)
}


@media (max-width: 1200px){


    div.nav ul li  {
        display:flex;
        align-items: center;
        margin: 0 20px;
        font-size:1.1rem;
        
    }

    .mark {
        font-size:1.7rem;
    }

    div.content_1 {
        
        font-size: 2.4rem;
        
    }
    
    
    div.content_2 {
        
        font-size: 1.5rem;
        
        
    }

    }  