* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body{

    background-image: url(/Sites/Image/burgir.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    color: #A91079;
    font-size:2.5rem;
    
}


/* Header */

.header {

    display: flex;
    width: 100%;

}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.proud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}


div.proud img {
    height: 100px;
    width: 100px;
}


.logo {
    font-family:monospace;
    letter-spacing: 1px;
    font-size: 4rem;
    margin:40px
}

.phone {
    
        font-family:monospace;
        letter-spacing: 1px;
        font-size: 2rem;
       
    
}


div.proud img:active {
    animation:spin;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

div.proud div:active {
    animation:walk;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    cursor: pointer;
}


@keyframes spin {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}


@keyframes walk{
    0%{
        transform:translate(0% , 0%);
        
    }



    50%{
        transform:translate(400% , 0%);
        
    }

    100%{
        transform:translate(0% , 0%);
        
    }


}




.down-nav {
    display: flex;
    justify-content: center;
    
}

.strap {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    width: 180px;
    height: 45px;
    background-color:white;
    justify-content:center;
    align-items: center;
    

}


.temp-butt-1 {
background-color:rgb(162, 71, 163);

}

.temp-butt-2 {

    background-color: rgb(238, 129, 179);
}


.temp-butt-3 {

    background-color: rgb(144, 38, 105);
    
}

.btn a {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 249, 215);
}

.btn:hover{
    transform: scale(1.1);
}

.btn a:hover{
    color: rgb(234, 10, 193);
}





a{
text-decoration: none;
color: #A91079;

}


/* End Header */



/* Mid */


.middle {

display: flex;
width: 100%;
height: 100%;
justify-content: flex-start;


}

.middle-container{


    display: flex;
    flex-direction:column;
    width:600px;
    height:400px;
    margin-left: 250px;
    margin-top: 200px;

}



div.middle-container button {

margin: 10px;
outline: none;
border: none;
border-radius: 999px;
color: rgb(255, 249, 215);
cursor: pointer;

}

div.middle-container button:hover {

    color: rgb(219, 55, 115);
}


div.middle-container button.content_1 {
    background-color: rgb(144, 38, 105);
    font-size:2.2rem;
    padding:0.7em 1.7em;
}

div.middle-container button.content_2 {
    background-color:rgb(162, 71, 163);
    font-size:2rem;
    padding:0.6em 1.5em;
}

div.middle-container button.content_3 {
    background-color: rgb(238, 129, 179);
    font-size:1.8rem;
    padding:0.5em 1.3em;
}


button:hover{

    transform: scale(1.1);

}

/* End Mid */